<header>
  <h1>{{title}}</h1>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/directory">Directory</a></li>
    </ul>
  </nav>
</header>
<section id='main'>
  <!-- Custom event binding gettin data from the child component to its parent.
  (onYell)="yell($event)"
   (Custom binding) = 'customFn(var)'-->

  <!--<app-home [ninja]="ninja" (onYell)="yell($event)">Learning the ropes w/ angular 2 to 5</app-home> -->
  <!--Router directive-->
  <router-outlet> </router-outlet>
</section>
